/*  ------******------Variables CSS------******------ */
:root {
    --navbar-bg-color: white;
    --navbar-title-color: #ebaa00;
    --nav-link-color: #fff;
    --navbar-title-shadow: #52526a;
    --nav-link-shadow: #3e63b1;
    --navbar-toggler-color: #ffffff;
    --font-family: 'Arvo', serif;
    --transparent-background: background-color: rgba(235, 170, 0, 0.5);
    --secondary-background: #f2f2f2;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.worksContent{
    padding: 0!important;
    margin: 0!important;
}

.worksContent-description{
    padding: 1rem!important;
    text-align: justify;
}

.worksContent-description h3{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.worksContent-description p{
    margin-top: 1rem;
}

.worksContent-description ul{
    list-style: none;
}

.works-descriptionContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.workContent-card_1, .workContent-card_3{
    background-color: var(--navbar-title-color);
    color: var(--nav-link-color);
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform .5s ease-out;
}

.workContent-card_1 h3, .workContent-card_3 h3{
    text-shadow: 2px 2px 0 var(--navbar-title-shadow);
    color: var(--navbar-title-color);
}

.workContent-card_2, .workContent-card_4{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform .5s ease-out;
}

.workContent-card_1.visible, .workContent-card_3.visible{
    opacity: 1;
    background-color: var(--nav-link-shadow);
    transform: translateX(0);
}

.workContent-card_2.visible, .workContent-card_4.visible{
    opacity: 1;
    transform: translateX(0);
}
.imgService{
    width: 100%;
    border-radius: 10px;
}


.worksContent-card_1 h3, p{
    text-align: center;
}
